apiVersion: v1
kind: Secret
metadata:
  name: cloudkarafka-service-broker-secret
  namespace: osb
type: Opaque
data:
  cloudkarafka-api-key: Zm9vYmFy # echo -n password | base64
  username: YWRtaW4= # echo -n admin | base64
  password: cGFzc3dvcmQ= # echo -n password | base64